body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #bbb;
  padding: 20px 0;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

nav li {
  display: inline;
  padding: 0 10px;
}

nav a {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  color: #0008ff;
  text-decoration: underline;
}

.products {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
}

.products li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  border: 3px solid #000;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 1.5%;
  box-sizing: border-box;
}

.products li:hover {
  border: 3px solid #0008ff;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.products li:active {
  border-color: aqua;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.products h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.products li:hover h2 {
  font-size: 2.5rem;
  transition: all 0.3s ease-in-out;
}

.products img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  font-size: 1.5rem;
  font-weight: normal;
}

.price {
  font-size: 1.8rem;
  font-weight: bold;
}

footer {
  background-image: url(imagenes/bg.jpg);
  padding: 2.5rem 0;
  text-align: center;
}

.copyright {
  font-size: 1rem;
  color: #fff;
  margin-top: 2rem;
}

.formulary {
  width: 80%;
  margin: 3rem auto;
}

form label,
form legend {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
}

.input-pattern {
  display: block;
  font-size: 1.2rem;
  width: 50%;
  padding: 1rem 1.5rem;
  margin: 0 0 1rem;
  border-radius: 0.5rem;
}

.checkbox {
  margin: 2rem 0 1rem;
}

.submit {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  width: 20%;
  padding: 1rem 1.5rem;
  margin: 0 0 1rem;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: #0008ff;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

table {
  display: block;
  justify-content: flex-start;
  width: 50%;
  margin: 2rem 11rem;
  border-collapse: collapse;
}

thead {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #555;
  color: #fff;
}

td,
th {
  padding: 0.8rem;
  border: 1px solid #000;
}

.banner {
  width: 100%;
}

.main {
  padding: 3em 0;
  background: #fefefe;
  width: 80%;
  margin: 0 auto;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  clear: left;
}

.main p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.main strong {
  font-weight: bold;
}

.main em {
  font-style: italic;
}

.tools {
  width: 9rem;
  float: left;
  margin: 1.5rem 1.5rem 1.5rem 0;
}

.map {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888);
}

.map p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  text-align: center;
}

.map-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 2rem auto;
}

.differentials {
  padding: 3em 0;
  background: #888;
}

.differentials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  height: auto;
  margin: 2rem auto;
}

.differentials-image {
  width: 45%;
}

.differentials-list {
  width: 55%;
  padding: 0 auto;
}

.items {
  font-size: 1.2rem;
  list-style: disc;
  line-height: 1.5rem;
  height: auto;
  margin: 1rem auto;
}

.items:first-child {
  font-weight: bold;
  margin: 0 auto;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0 0 0;
}
